astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
dryscrape==1.0
et-xmlfile==1.0.1
html-table-parser==0.1.0
html-table-parser-python3==0.1.5
html5lib==1.1
idna==2.10
isort==5.5.2
jdcal==1.4.1
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
numpy==1.19.2
openpyxl==3.0.5
packaging==20.4
pandas==1.1.2
pylint==2.6.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
PySide2==5.15.1
python-dateutil==2.8.1
pytz==2020.1
QtPy==1.9.0
requests==2.24.0
selenium==3.141.0
shiboken2==5.15.1
sip==5.4.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
webencodings==0.5.1
webkit-server==1.0
wrapt==1.12.1
xvfbwrapper==0.2.9
